* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./src/planet.jpeg");
  background-repeat: no-repeat;
  background-color: #000;
  background-position: center;
  background-position-y: bottom;
}
